@charset "UTF-8";
.box1 {
  width: 400px;
  height: 400px;
  background: #ff0000;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .box1 {
    width: 200px;
    height: 200px;
  }
}

.box2 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .box2 {
    background-color: #007bff;
  }
}

.box3 {
  justify-content: center;
  display: flex;
}
.box3-1 {
  width: 200px;
  height: 200px;
  background: #0008ff;
  display: inline-block;
}
.box3-2 {
  width: 200px;
  height: 200px;
  background: #22ff00;
  display: inline-block;
  margin-left: 150px;
}

@media (max-width: 960px) {
  .box3-2 {
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }
}
.Q4 {
  display: grid;
  justify-content: center;
}
.box4 {
  width: 100%;
  overflow: hidden;
}
.box4-1 {
  width: 200px;
  height: 200px;
  background: #ff0000;
  float: left;
}
.box4-2 {
  width: 200px;
  height: 200px;
  background: #0008ff;
  float: left;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 960px) {
  .box4-1 {
    float: none;
  }
  .clearfix::after {
    display: none;
  }
}
@media (max-width: 960px) {
  .box4-2 {
    float: none;
  }
  .clearfix::after {
    display: none;
  }
}
.flexbox1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box5-1 {
  width: 200px;
  height: 200px;
  background: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5-2 {
  width: 200px;
  height: 200px;
  background: #0008ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5-3 {
  width: 200px;
  height: 200px;
  background: #ff8400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 960px) {
  .flexbox1 {
    flex-direction: row-reverse;
  }
  .flexbox2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.box6-1 {
  width: 200px;
  height: 200px;
  background: #00ff51;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}
.box6-2 {
  width: 200px;
  height: 200px;
  background: #d4ff00;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}
.box6-3 {
  width: 200px;
  height: 200px;
  background: #ff00e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
}
@media (max-width: 960px) {
  .flexbox2 {
    display: flex;
  }
  .box6-1 {
    order: 2;
  }
  .box6-2 {
    order: 3;
  }
  .box6-3 {
    order: 1;
  }
}

.box7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7-1 {
  width: 200px;
  height: 200px;
  background: #ff0000;
  display: none;
}
.box7-2 {
  width: 200px;
  height: 200px;
  background: #0008ff;
  display: none;
}
.box7-3 {
  width: 200px;
  height: 200px;
  background: #00ff51;
}
@media (max-width: 960px) {
  .box7-1 {
    display: none;
  }
  .box7-2 {
    display: block;
  }
}
